@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #00668b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #008fc4, #00b75f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #008fc4, #00b75f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}